@model SimpleCalculatorViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<form asp-action="Calculate" method="post" class="form-horizontal" role="form">
    <div class="row">
        <div class="form-group col-md-6">
            <label asp-for="Number1" class="control-label">Primeiro número</label>
            <input asp-for="Number1" class="form-control" required type="number"/>
            <span asp-validation-for="Number1" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-6 w-25">
                <label class="control-label" asp-for="Operation">Operação:</label>
                <select class="form-select form-select-sm" id="Operation" name="Operation" required>
                    <option selected>Escolha uma operação</option>
                    <option value="SUM">+</option>
                    <option value="SUBTRACTION">-</option>
                    <option value="MULTIPLICATION">*</option>
                    <option value="DIVISION">/</option>
                </select>
            </div>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Number2" class="control-label">Segundo número</label>
            <input asp-for="Number2" class="form-control" required type="number"/>
            <span asp-validation-for="Number2" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-3 mt-3">
                <input class="btn btn-success" type="submit" value="Calcular" />
            </div>
        </div>
    </div>
</form>

<div class="row mt-3">
    <h5>Resultado:
        @Model.Result
        </ h5>
</div>