@model calcmaster_webapp.Models.AverageFuelConsumption.Trip

@{
    ViewData["Title"] = "Calculadora de KM/L";
}

<h1>@ViewData["Title"]</h1>

<div class="row ms-0">
    <div class="alert alert-primary d-flex align-items-center gap-3" role="alert">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
                d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0
1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
        </svg>
        <div>
            É possível realizar o cálculo do consumo para mais de uma viagem. Por isso, clique em <strong>"Salvar
                viagem"</strong> e depois clique em "Calcular"
        </div>
    </div>
</div>

<form asp-action="AddTrip" method="post" class="form-horizontal" role="form">
    <div class="row gap-3">
        <div class="form-group col-md-6">
            <label asp-for="Title" class="control-label">Especifique qual a viagem: </label>
            <input asp-for="Title" class="form-control" value="">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Kilometers" class="control-label">Informe a quantidade de KM (quilômetros percorridos):
            </label>
            <input asp-for="Kilometers" class="form-control">
            <span asp-validation-for="Kilometers" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LitersFilled" class="control-label">Informe a quantidade de combustível abastecido em
                L: </label>
            <input asp-for="LitersFilled" class="form-control">
            <span asp-validation-for="LitersFilled" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="form-group col-md-3 mt-3">
                <input class="btn btn-primary" type="submit" value="Salvar viagem" />
            </div>
            <div class="form-group col-md-3 mt-3">
                <a class="btn btn-success" asp-controller="AverageFuelConsumption" asp-action="Calculate">Calcular</a>
            </div>
        </div>
    </div>
</form>
